@model SysContabil.Models.LancamentoViewModel

@{
    ViewData["Title"] = "Detalhar";
}

<h2>Detalhes do Lançamento</h2>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataDoPlano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataDoPlano)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Debito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Debito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Credito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Credito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReciboFiscal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReciboFiscal)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Alterar", "Alterar", new { id = Model.Id }) |
    <a class="btn btn-dark" asp-action="Index">Voltar</a>
</div>
